---
import '../styles/global.css';
import LeftPane  from '../components/LeftPane.astro';
import RightPane from '../components/RightPane.astro';
import DirModal  from '../components/DirModal.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Maker</title>
  </head>
  <body>
    <div class="app">
      <LeftPane />
      <RightPane />
    </div>
    <DirModal />

    <script>
      import { initApp } from '../scripts/app.js';
      initApp();
    </script>
  </body>
</html>
